{% extends 'fr/skeleton.index.html' %}

{% block corps%}

<h1>ZOMPIGAME</h1>
<h2>
  Cree en 2015, ZompiGame est le fruit de l'imagination debordante de 3 developpeurs juniors,
  stagiaires de la formation SimplonVe, au Cheylard en Ardeche.
  Le but du jeu est de devorer les citoyens afin de cumuler le maximum de points, en un minimum de temps.
  Pour vous deplacer il suffit de cliquer ou de rester appuye dans la direction de votre choix.
  Il vous faut alors toucher un citoyen pour le devorer et ainsi gagner des points.
  Attention aux nombreux pieges qui se cachent sur les maps, la mort vous guette !
  Les meilleurs parmi vous seront publiés dans l'onglet "Classement" ci-dessus.
</h2>

{% endblock %}
