{% extends 'skeleton.index.html' %}

{% block form %}

<form id="tosignup" action="{{ url_for('index') }}" method="POST">
    <input type="submit" name="submit" value="sign up" />
</form>

<div id="index">

    <div id="flash_message">
    {% with flash_messages = get_flashed_messages() %}
        {% if flash_messages %}
            {% for m in flash_messages %}
                <h4>{{ m.decode('utf-8') }}</h4>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>


    <form id="connection" action="{{ url_for('index') }}" method="POST">
        {{ form.pseudo.label }}
        {{ form.pseudo }}
    <br />
        {{ form.password.label }}
        {{ form.password }}
    <br />
        {{ form.submit }}
    </form>

</div>

{% endblock %}