{% extends 'skeleton.index.html' %}

{% block form %}


<div id="flash_message">
{% with flash_messages = get_flashed_messages() %}
    {% if flash_messages %}
        {% for m in flash_messages %}
            <h4>{{ m.decode('utf-8') }}</h4>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>


<form id="signup" action="{{ url_for('register') }}" method="POST">
    {{ form.pseudo.label }}
    {{ form.pseudo }}
<br />
    {{ form.password.label }}
    {{ form.password }}
<br />
    {{ form.conf_password.label }}
    {{ form.conf_password }}
<br />
    {{ form.mail.label }}
    {{ form.mail }}
<br />
    {{ form.submit }}
</form>

{% endblock %}